body {
  background: linear-gradient(to bottom, #87CEEB, #1E90FF);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

#luz {
  border: 5px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

#configuracoes-menu {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#configuracoes-menu button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button i {
  margin-right: 5px;
}

#botaoModoNoturno:before {
  content: '\f186'; /* Ícone da Lua Crescente para Modo Noturno */
}

#configuracoes-menu button:nth-child(1):before {
  content: '\f1fc'; /* Ícone do Pincel para Alterar Cor de Fundo */
}

#configuracoes-menu button:nth-child(2):before {
  content: '\f0eb'; /* Ícone da Lâmpada para Ajustar Brilho */
}

#configuracoes-menu button:nth-child(3):before {
  content: '\f00d'; /* Ícone da Cruz para Fechar Configurações */
}

div:nth-child(3) button:nth-child(1):before {
  content: '\f060'; /* Ícone da Seta para a Esquerda para Anterior */
}

div:nth-child(3) button:nth-child(2):before {
  content: '\f061'; /* Ícone da Seta para a Direita para Próxima */
}
